@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/placeholders';

@import 'vendors/bootstrap';
@import 'vendors/jquery-ui';

@import 'base/reset';
@import 'base/base';
@import 'base/typography';

@import 'layout/navigation';
@import 'layout/grid';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/sidebar';
@import 'layout/forms';

@import 'components/buttons';
@import 'components/body';
@import 'components/menu';
@import 'components/carousel';
@import 'components/cover';
@import 'components/dropdown';
@import 'components/navbar';
@import 'components/hamburger';

@import 'pages/home';
@import 'pages/contact';

@import 'themes/theme';
@import 'themes/admin';
@import 'themes/theme_nature';
//@import 'testing';
//debug css ex: show border of all element
//@import 'debug';
