<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>PaymentWall Template</title>
	</head>
	<body>
		<h1>PaymentWall Template</h1>
		<div class="body">
			<a href="https://css-tricks.com" class="button">
				<span class="button__text">Standard button</span>
			</a>
			<a class="button button--big button--orange" href="http://css-tricks.com">
				<span class="button__price">$9.99</span>
				<span class="button__text">Subscribe</span>
			</a>
			<a href="https://css-tricks.com" class="button button--blue button--big">
				<span class="button__price">$4</span>
				<span class="button__text">Big button</span>
			</a>

			<a href="https://css-tricks.com" class="button button--green button--big">
				<span class="button__price">$9</span>
				<span class="button__text">Big button</span>
			</a>
		</div>
	</body>
</html>
