body {
	font-size: 1em;
	line-height: 1.4;
}
//when select text background selected text is red
::-moz-selection {
	background: $color1;
	text-shadow: none;
}
::selection {
	background: $color1;
	text-shadow: none;
}
