.button {
	text-decoration: none;
	background-color: $color-accent;
	color: #888;
	@include rounded(5px);
	@include shadow(0, 1px, 2px, rgba(0,0,0,.5));
	@include linear-gradient( $color-accent,darken($color-accent, 20%));
	display: inline-block;
	margin: 10px;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 600;
	padding: 10px 5px;
	&:hover {
		@include linear-gradient(lighten($color-accent, 30%), $color-accent);
	}
	&__price {
		background-color: white;
		color:#fff;
		padding-right: 12px;
		padding-left: 12px;
		margin-right: -10px;
		font-weight: 600;
		background-color: #333;
		opacity: .4;
		border-radius: 5px 0 0 5px;
	}
	&__text {
		padding: 0 10px;
		border-radius: 0 5px 5px 0;
	}
	&--secondary {
		//background: darken($color-accent, 30%);
		background: lighten($color-accent, 30%);
		@include linear-gradient(lighten($color-accent, 30%), $color-accent);
	}
	&--red {
		@include button($color-white, $color-red);
	}
	&--green {
		@include button($color-white, $color-green);
	}
  &--blue {
		@include button($color-white, $color-blue);
	}
	&--gray {
		@include button($color-black, $color-gray);
	}
	&--black {
		@include button($color-white, $color-black);
	}
	&--big {
		font-size: 28px;
		padding: 10px;
		font-weight: 400;
	}
}
