.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
	//background-color: $trial-color-01;
}
.navbar__item {
	text-align: center;
  display: inline;
}
.navbar__link {
//	display: block;
	padding: 8px;
	background-color: $trial-color-01;
	color: white;
}
.navbar__link--active {
	background-color: $trial-color-03;
	color: white;
}
