.navigation {
	height: $nav-height;
	background: $nav-background;
}
.navigation__container {
	max-width: $content-width;
	margin: 0 auto;
}
.navigation__brand {
	position: absolute;
	padding-left: 20px;
	float: left;
	line-height: $nav-height;
	text-transform: uppercase;
	font-size: 1.4em;
}
.navigation__brand-link{
	font-weight: bold;
	text-decoration: none;
	color: $nav-font-color;
}

.navigation__mobile {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	background: $nav-background;
	height: $nav-height;
	width: $nav-height;
}
.navigation__menu {
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
}
.navigation__menu-item {
	float: left;
	position: relative;
}
.navigation__menu-item-link {
	display: block;
	padding: 0 20px;
	line-height: $nav-height;
	background: $nav-background;
	color: $nav-font-color;
	text-decoration: none;
	font-weight: bold;
	&:hover {
		background: $link-hover-color;
		color: $nav-font-color;
	}
	&:not(:only-child):after{
		padding-left: 4px;
		content: '▾';
	}
}
.navigation__submenu{
	position: absolute;
	z-index: 1;
	box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);	
	display:none;
	list-style: none;
	margin: 0;
	padding:0;
}
.navigation__submenu-item {
	min-width: 200px;
}
.navigation__submenu-item-link {
	display: block;
	padding: 15px;
	line-height: 20px;
	font-weight: bold;
	text-decoration: none;
	background: $nav-background;
	color: $nav-font-color;
	&:hover {
		background: $link-hover-color;
		color: $nav-font-color;
	}


}
@media only screen and (max-width: $breakpoint) {
	// Insert all mobile styles here
	.navigation__mobile {
		display: block;
	}
	/*Humberger Icon*/
	#nav-toggle {
		position: absolute;
		left: 18px;
		top: 22px;
		cursor: pointer;
		padding: 10px 35px 16px 0px;
		span, 
		span:before,
		span:after {
			cursor: pointer;
			border-radius: 1px;
			height: 5px;
			width: 35px;
			background: $nav-font-color;
			position: absolute;
			display: block;
			content: '';
			transition: all 300ms ease-in-out;
		}
		span:before {
			top: -10px;
		}
		span:after {
			bottom: -10px;
		}
		&.active span {
			background-color: transparent;
			&:before,
			&:after {
				top: 0;
			}
			&:before {
				transform: rotate(45deg);
			}
			&:after {
				transform: rotate(-45deg);
			}
		}
	}
	.navigation__menu {
		width: 100%;
		padding: $nav-height 0 15px;
		display: none;
	}
	.navigation__menu-item {
		float: none;
	}
	.navigation__menu-item-link {
		padding: 15px;
		line-height: 20px;	
	}
	.navigation__submenu-item-link {
		padding-left: 30px;
	}
	.navigation__submenu {
		position: static;
	}
}
@media screen and (min-width: $breakpoint) {
	.navigation__menu {
		display: block !important;
	}
}
